:root {
  /* Primary */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /* Neutral */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--pale-blue);
  display: grid;
  place-content: center;
  min-height: 100vh;
  text-align: center;
}

.card {
  max-width: 23rem;
  border-radius: 1rem;
  background-color: white;
}

.card img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card h1 {
  font-size: 1.4rem;
  font-weight: 900;
  margin: 2rem 0 0 0;
}

.card-text {
  font-weight: 900;
  color: var(--desaturated-blue);
  margin: 1rem;
  line-height: 2rem;
}

.card-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 0.8rem;
  margin: 1rem;
  background-color: var(--very-pale-blue);
  border-radius: 1rem;
}

.card-middle h2 {
  font-size: 0.9rem;
  font-weight: 900;
}

.card-middle p {
  color: var(--desaturated-blue);
  font-size: 0.9rem;
  font-weight: 700;
}

.card-middle a {
  font-size: 0.9rem;
  font-weight: 900;
  padding-left: 1rem;
  cursor: pointer;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.payment {
  color: var(--very-pale-blue);
  background: var(--bright-blue);
  border-radius: 1rem;
  font-weight: 900;
  border-style: none;
  box-shadow: 0.5rem 1.5rem 10px 1px var(--pale-blue);
  padding: 1rem;
  margin: 0.5rem 1rem;
  cursor: pointer;
}

.cancel {
  background-color: white;
  border: none;
  color: var(--desaturated-blue);
  font-weight: 900;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
